.petsSection {
	padding-block: 3em;
	background-color: var(--clr-primary-400);
	background-image: url('../../assets/images/svg/bone.svg');
	background-repeat: no-repeat;
	background-position: left 1em;
}

.badge {
	display: inline-block;
}
