.serviceSection {
	background-image: url('../../assets/images/svg/spiral-1.svg'),
		url('../../assets/images/svg/scratch.svg');
	background-repeat: no-repeat;
	background-position: 0 5em, right 1em;
	background-size: 12.5rem;
}
